.example-spacer {
    flex: 1 1 auto;
  }
  
  .spacer{
    padding: 15px;
  }

  h4{
    color:#3700b3;
      font-family: 'Helvetica Neue', sans-serif; 
      font-size: 50px; 
      font-weight: bold; 
      letter-spacing: -1px; 
      line-height: 1; 
      text-align: center;
  }

  .pretraga{
    display:flex;
    justify-content: center;

}

.forma{
  margin:0 auto;
  border-radius: 25px;
  border: 2px solid indigo;
  padding: 20px;
  width: 200px;
  height: fit-content;
  justify-content: center;
}

mat-card::ng-deep.mat-card-header-text {
  width: 100%;
}

.btn-center{
  margin: 0 auto;
  display: flex;
  
}

.cards{
  outline-width: 2px;
  outline-color: indigo;
  height:450px;
  outline-style:outset;
  margin:15px;
  background-color:aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: oblique;
}

.naslov-card{
  color:darkblue;
  text-shadow: 1px;
  font:400;
}



.red{

    color:red;
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
}

.red2{

  color:red;
  font-family: 'Helvetica Neue', sans-serif; 
  font-size: 14px; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  text-align: center;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }
  
  .spacer{
    padding: 15px;
  }

  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
 

  h1 {
    color: #3700b3; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  .button-register {
    padding: 19px 39px 18px 39px;
    color: #FFF;
    background-color: #3700b3;
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 100%;
    border: 1px solid indigo;
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    margin-bottom: 10px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #3700b3;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  
  }

  table{
      width: 95%;
      margin: 0 auto;

  }
