<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" (click)="home()">
        <mat-icon>home</mat-icon>
      </button>
      <span style="font-size: xx-large; font: weight 700px; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">KPN</span>
      <span class="example-spacer"></span>

      <button mat-button  (click)="sifra()">
        <mat-icon>swap_horiz</mat-icon>
        <span style="font-size: large;">Promeni šifru</span>
      </button>

      <button mat-button  (click)="dodavanje()">
        <mat-icon>theaters</mat-icon>
        <span style="font-size: large;">Dodaj nekretninu</span>
      </button>

      <button mat-button  (click)="promovisanje()">
        <mat-icon>pan_tool</mat-icon>
        <span style="font-size: large;">Promovisi</span>
      </button>

      <button mat-button  (click)="odobravanje()">
        <mat-icon>check_circle_outline</mat-icon>
        <span style="font-size: large;">Odobri</span>
      </button>

      <button mat-button  (click)="ponude()">
        <mat-icon>euro_symbol</mat-icon>
        <span style="font-size: large;">Ponude</span>
      </button>

      <button mat-button class="spacer" (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span style="font-size: large;">LogOut</span>
      </button>
    </mat-toolbar>
  </p>  

  <br/>
  <br/>

  <h4>Odobri nekretnine</h4>
  
<table mat-table [dataSource]="nekretnine" class="mat-elevation-z8">
    <ng-container matColumnDef="slika">
        <th mat-header-cell *matHeaderCellDef>
            Slika
        </th>
        <td mat-cell *matCellDef="let element">
          <img width="150px" height="150px" src="../../assets/{{element.galerija[0].path}}">
        </td>
    </ng-container>
    
      <ng-container matColumnDef="naziv">
        <th mat-header-cell *matHeaderCellDef>Naziv</th>
        <td mat-cell *matCellDef="let element">{{element.naziv}}
          
        </td>
      </ng-container>
        <ng-container matColumnDef="adresa">
          <th mat-header-cell *matHeaderCellDef>Adresa</th>
          <td mat-cell *matCellDef="let element">{{element.adresa}}
          </td>
        </ng-container>
          <ng-container matColumnDef="tip">
            <th mat-header-cell *matHeaderCellDef>Tip</th>
            <td mat-cell *matCellDef="let element">{{element.tip}}
            </td>
          </ng-container>
            <ng-container matColumnDef="brojspratova">
              <th mat-header-cell *matHeaderCellDef>Broj spratova</th>
              <td mat-cell *matCellDef="let element">{{element.brojspratova}}
              </td>
            </ng-container>
              <ng-container matColumnDef="sprat">
                <th mat-header-cell *matHeaderCellDef>Sprat</th>
                <td mat-cell *matCellDef="let element">{{element.sprat}}
                </td>
              </ng-container>
                <ng-container matColumnDef="kvadratura">
                  <th mat-header-cell *matHeaderCellDef>Kvadratura</th>
                  <td mat-cell *matCellDef="let element">{{element.kvadratura}}
                  </td>
                </ng-container>
                  <ng-container matColumnDef="sobe">
                    <th mat-header-cell *matHeaderCellDef>Sobe</th>
                    <td mat-cell *matCellDef="let element">{{element.sobe}}
                    </td>
                  </ng-container>
                    <ng-container matColumnDef="izdaje">
                      <th mat-header-cell *matHeaderCellDef>Izdaje/Prodaje</th>
                      <td mat-cell *matCellDef="let element">{{element.izdaje}}
                      </td>
                    </ng-container>
                      <ng-container matColumnDef="cena">
                        <th mat-header-cell *matHeaderCellDef>Cena</th>
                        <td mat-cell *matCellDef="let element">{{element.cena}}$
                        </td>
                      </ng-container>
                        <ng-container matColumnDef="gradopstina">
                          <th mat-header-cell *matHeaderCellDef>Grad i opstina</th>
                          <td mat-cell *matCellDef="let element">{{element.gradopstina}}
                          </td>
                        </ng-container>
                        <ng-container matColumnDef="dugme">
                          <th mat-header-cell *matHeaderCellDef>Odobri</th>
                          <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="odobri(element.id)">Odobri</button></td>
                        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>